textarea{
	resize: none;
	overflow-y:scroll;
}

label{
	font-weight:bold;
}

input[type=submit]{
	width:5%;
	height:3%;
	font-weight:bold;
	font-size:1rem;
}

.error{
	font-weight:bold;
	font-size: 2rem;
}